# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

exec resources/vMenu/config/permissions.cfg

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure rconlog
ensure fivem-map-hipster

#Vmenu
start vMenu #https://github.com/TomGrobbe/vMenu

#Scripts
start qSpawnHub #https://github.com/qavas/qSpawnHub
start Wolfhouse_Reticle_Remove #https://forum.cfx.re/t/free-reticle-remove/4784430
start SenkaWolf-RPCCPack #https://github.com/SenkaWolf/FiveM_Standalone-RP-Chat-Command-Basic-Pack
start modelblacklist #https://forum.cfx.re/t/release-model-blacklist-v1-1/7574
start JF_SeatShuffle #https://forum.cfx.re/t/release-disable-seat-shuffling-rewrite/4778261
start 911Improved #https://forum.cfx.re/t/911improved-v-1-0-0/2106222
start lux_vehcontrol #https://forum.cfx.re/t/release-luxart-vehicle-control/17304
start CalmAI #https://forum.cfx.re/t/release-calm-ai/113476

#HUD UI
start carhud #https://forum.cfx.re/t/release-carhud-and-helihud-modified-and-better-looking-v-1-9-new-update/97812
start FRFuel #https://forum.cfx.re/t/release-frfuel-v1-7-0/5467
start nearest-postal #https://forum.cfx.re/t/release-nearest-postal-script/293511
start dpemotes #https://github.com/andristum/dpemotes
start dpclothing #https://forum.cfx.re/t/dpclothing-1-0-3-clothing-variations-and-toggles-gloves-vest-top-hair-bag-and-more/1326317
start mj-death #https://forum.cfx.re/t/release-standalone-1-1-mj-death-death-script/1109749
start compass #https://github.com/ALTERNATIVECOMMUNITY/compass

#Map
start map #https://forum.cfx.re/t/release-postal-code-map-minimap-new-improved-v1-2/147458
start bob74_ipl #https://forum.cfx.re/t/release-v2-fix-holes-and-customize-the-map/25240

#Prio Scripts
start JD_Priority #https://github.com/prefech/JD_Priority

#Loading Screen
start letrum-loadingscreen-fivem #https://github.com/Redven-Biker/letrum-loadingscreen-fivem

sv_scriptHookAllowed 0

# it should look like rcon_password "YOURPASSWORD"
rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "root-AQ" 
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname. This is not usually shown anywhere in listings.
sv_hostname "Scott Designs | PreMade Server | https://discord.gg/6qc9ck99gm"

# Set your server's Project Name
sets sv_projectName "Scott Designs | PreMade Server | https://discord.gg/6qc9ck99gm"

# Set your server's Project Description
sets sv_projectDesc "Scott Designs | PreMade Server | https://discord.gg/6qc9ck99gm"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Remove the `#` from the below line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group

# enable OneSync (required for server-side state awareness)
set onesync on

# Server player slot limit (see https://fivem.net/server-hosting for limits)
sv_maxclients 48

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "Put Your Key Here"

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey Put your key here

